.about-section {
    padding-top: 0px;
}

.about-section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $additional-text-color;
}

.about-section__list {
    display: flex;
    justify-content: center;
}

.about-section__item {
    &:not(:last-child) {
        margin-right: 30px;
    }
    position: relative;
    max-height: 294px;
}

.about-section__text {
    position: absolute;
    padding: 27px 82px;
    left: 0;
    bottom: 0;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: $primary-background-color;
}