.partner-section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $additional-text-color;
    margin: 0px;
    margin-bottom: 50px;
}
.partner-section {
    @media screen and (max-width: 380px) 
        {
            padding: 0px;
            padding-bottom: 35px;
        }
}

.partner-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
}

.partner-section__item {
    margin: 30px 0 0 30px;
    flex-basis: calc(100% / 2 - 30px);
    height: calc(100% / 3 - 30px);

}

.partner-section__link {
    transition-property: fill, background-color;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-function;

    display: flex;
    height: 90px;
    border: 1px solid $icon-fill-color;
    border-radius: 4px;
    justify-content: center;
    align-items: center;

    &:hover, &:focus {
        border: 1px solid $hover-text-color;
    }
    &:hover .partner-section__logo,
    &:focus .partner-section__logo{
    fill: $hover-text-color;
    }
}

.partner-section__logo {
    fill: $icon-fill-color;
}