body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin: 0px;
    background-color: $primary-background-color;
    color: $primary-text-color;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    font-family: inherit;

    background-color: $additional-background-color;
    color: $additional-text-color;

    &:hover,&:focus 
    {
        cursor: pointer;
        
        background-color: $hover-text-color;
        color: $primary-background-color;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 1200px;
}

.section {
    padding: 94px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}