/* Цвета текста */
$primary-text-color: #757575;
$additional-text-color: #212121;
$hover-text-color: #2196f3;
$hover-background-color:#188ce8;
/* Цвета фона */
$primary-background-color: #ffffff;
$additional-background-color: #f5f4fa;
$footer-background-color: #2f303a;
$border-header-color: #ececec;
$icon-fill-color: #afb1b8;
$icon-close-color: #000000;
// Анимации
$animation-duration: 250ms;
$animation-function: cubic-bezier(0.4, 0, 0.2, 1);